.list-produtos {
	.col-6 {
		margin-top: 120px;

		&:nth-child(1), &:nth-child(2) {
			margin-top: 0;
		}

		&:nth-child(odd) {
			@include clear;
		}

		&:hover {
			h4 {
				color: $verde;
			}
		}
	}

	img {
		display: block;
		width: auto;
	}

	h4, p {
		padding: 0 30px;
	}

	h4 {
		text-align: center;
		margin: 10px 0;
		@include animacao;
	}

	p {
		font-weight: $light;
		font-size: .875rem;
		line-height: 1.225rem;
	}
}

.list-cat {
	display: block;
	text-align: center;
	margin: 40px 0 25px;

	a {
		display: inline-block;
		margin: 0 30px;
		font-weight: $light;
		font-size: .75rem;

		img {
			display: block;
			margin: 0 auto 10px;
		}

		&:hover, &.active {
			color: $azul;
		}
	}
}

.cont-prod {
	margin: 100px auto 0;
	display: block;
	max-width: 500px;
	width: 90%;
}