.page {
	h2 {
		color: $cor-txt;

		&.borda {
			border-bottom: 1px solid $cor-txt;
			padding-bottom: 15px;
		}
	}
	
	.destaque-mini {
		p {
			font-size: .875rem;
			line-height: 1rem;
			max-width: 510px;
			margin: 0 auto;
		}
	}
}

.quality {
	display: block;
	text-align: center;

	li {
		display: inline-block;
		font-size: 1.225rem;
		line-height: 1.5rem;
		font-weight: $light;
		margin: 20px;
		max-width: 165px;

		img {
			margin-bottom: 10px;
		}
	}
}