@media all and (max-width: 900px){
	.contato-page {
		.col-6 {
			width: 100%;
			max-width: 500px;
			margin: 0px auto 30px!important;
			float: none;
			display: block;
		}

		form {
			margin: 0 !important;
			fieldset {
				margin: 0px auto 0!important;

				&.col-6 {
					margin: 0px auto 0!important;
				}
			}
		}
	}
}

@media all and (max-width: 850px){
	.list-markets {
		li {
			width: 100%;
			text-align: center;
			padding: 0px;
			border: 0!important;
		}
	}

	.box-info-contato {
		.info-contato {
			float: left;
			width: 100% !important;
			padding: 0 !important;
			text-align: center;

			img, .item {
				float: none;
				display: inline-block;
			}

			img {
				vertical-align: top;
			}

			.item {
				span {
					font-size: 1.225rem;
					line-height: 1.5rem;
				}
			}

			&.info-email {
				margin: 50px 0 0px!important;
			}

			&.info-tel {
				border: 0;
			}
		}
	}

	.form-contato {
		max-width: 480px;
	}
}

@media all and (max-width: 750px){
	.nav {
		display: none;
	}

	.menu-mobile {
		display: block;
	}

	.slide {
		height: 30vh;
		
		.item {
			height: 30vh;
			line-height: 30vh;

			.box-height {
				height: 30vh;
				line-height: 30vh;
			}
		}
	}

	.row {
		[class*="col-"] {
			width: 100%;
			text-align: center;
			margin: 15px 0;

			.button {
				float: none;
			}
		}
	}

	.list-produtos {
		margin-top: -30px;

		p {
			text-align: justify;  
			-moz-text-align-last: center;
			text-align-last: center;
		}

		.col-6 {
			margin: 40px 0!important;
		}
	}

	.container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.list-cat {
		margin-bottom: 0;

		a {
			margin: 0 5px 15px;

			img {
				width: 30px;
			}
		}
	}
}

@media all and (max-width: 550px){
	.quality {
		li {
			width: 100%;
			display: block;
			max-width: 100%;
			margin: 30px 0;
			float: left;
		}
	}

	.box-info-contato {
		.info-contato {
			img {
				max-width: 40px;
				margin-right: 5px;
				max-height: 50px;
			}
		}
	}
}