$width: 840px;
$padding-container: 40px;
$padding-col: 15px;

$font-size: 1.125rem;

$cor-txt: #111111;
$verde: #9fcc3b;
$cinza: #f2f2f2;
$cinza-escuro: #b3b3b3;
$azul: #29a1d8;

$vermelho: #790000;
$dourado: #a4925f;

$bege: #a4925f;
$bordo: #790000;
$laranja: #ea793e;
$marrom: #99552b;
$roxo: #ffffff;
$verde-limao: #80BE42;
$pink: #f4364c;

$light: 300;
$regular: 400;
$bold: 700;

$wLogo: 142px;

$hSlide: 50vh;